body{
    background-image:url("https://i.pinimg.com/originals/58/75/b7/5875b7fcc20312c0cf703d16b9dfe546.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: 'Grape Nuts', cursive;
    color: white;
}

canva{
    background-color:white;
}